@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];

    string ministryName = MinistryHelper.MinistryCodeToMinistryName(ministryCode);
    string ministryColour = MinistryHelper.MinistryCodeToMinistryHexColour(ministryCode);

    ViewData["Title"] = "Change ministerial balance";
    ViewData["PageName"] = "Change ministerial balance";
}

<h1>
    <span>Change ministerial balance for the</span>
    <span style="text-decoration: underline; text-decoration-color: @ministryColour">@ministryName</span>
</h1>
<br />
<h2>Current @ministryName balance:</h2>
<h3>$@country.GetBalanceByCode(ministryCode).GetValueOrDefault().ToString("n0")</h3>
<br />
<h2><label for="new-budget">New @ministryName balance:</label></h2>
<div>
    <h3 style="display: inline;"><label for="new-budget">$</label></h3>
    <input type="number" min="0" max="@(country.SpareBalance + country.GetBalanceByCode(ministryCode))" id="new-budget" name="new-budget" value="@country.GetBalanceByCode(ministryCode)" style="vertical-align: super;" onchange="newBudgetChanged()" />
    <h4 style="display: inline; margin-left: 20px;" id="change-amount">(+/-$0)</h4>
</div>
<br />
<h2>Spare balance after change:</h2>
<div>
    <h3 id="new-spare-budget" style="display: inline;">$@country.SpareBalance.ToString("n0")</h3>
    <h4 id="new-spare-budget-change-amount" style="display: inline; margin-left: 20px;">(+/-$0)</h4>
</div>
<br />
<br />
<button onclick="submit()">Change</button>
<button onclick="location.href = '/Game/FinanceAndTradeDashboard/Budget'">Cancel</button>

@section Scripts {
    <script>
        var newBudgetInput = document.getElementById("new-budget")
        var changeAmount = document.getElementById("change-amount")
        var newSpareBalance = document.getElementById("new-spare-budget")
        var newSpareBalanceChangeAmount = document.getElementById("new-spare-budget-change-amount")
        var spareBudget = @country.SpareBalance
        var ministryBudget = @country.GetBalanceByCode(ministryCode)

        function submit() {
            if (!confirm("Are you sure you want to make this budget change?")) {
                return
            }

            $.post(`/Game/ChangeMinisterialBudget?ministry=@ministryCode&changeAmount=${newBudgetInput.value - ministryBudget}`, function (status, data) {
                if (data == "success") {
                    location.href = "/Game/FinanceAndTradeDashboard/Budget"
                } else {
                    alert(data)
                }
            })
        }

        function newBudgetChanged() {
            if (newBudgetInput.value < 0) {
                newBudgetInput.value = 0
            }
            if (newBudgetInput.value > spareBudget + ministryBudget) {
                newBudgetInput.value = spareBudget + ministryBudget
            }

            var moneyModifier
            var newSpareBalanceMoneyModifier
            var moneyDifference = Math.abs(newBudgetInput.value - ministryBudget)
            if (ministryBudget < newBudgetInput.value) {
                changeAmount.style.color = "green"

                newSpareBalanceChangeAmount.style.color = "red"

                moneyModifier = "+"
                newSpareBalanceMoneyModifier = "-"
            }
            if (ministryBudget > newBudgetInput.value) {
                changeAmount.style.color = "red"

                newSpareBalanceChangeAmount.style.color = "green"

                moneyModifier = "-"
                newSpareBalanceMoneyModifier = "+"
            }
            if (ministryBudget == newBudgetInput.value) {
                changeAmount.style.color = ""

                newSpareBalanceChangeAmount.style.color = ""

                moneyModifier = "+/-"
                newSpareBalanceMoneyModifier = "+/-"
            }

            changeAmount.innerHTML = "(" + moneyModifier + formatMoney(moneyDifference) + ")"
            newSpareBalanceChangeAmount.innerHTML = "(" + newSpareBalanceMoneyModifier + formatMoney(moneyDifference) + ")"

            newSpareBalance.innerHTML = formatMoney(spareBudget - (newBudgetInput.value - ministryBudget))
        }

        function formatMoney(stringToFormat) {
            var formattedNumber = new Intl.NumberFormat('en-GB').format(stringToFormat)
            return "$" + formattedNumber
        }
    </script>
}