@using govgameSharedClasses.Helpers;
@{
    User user = (User)ViewData["user"];

    Country country = (Country)ViewData["country"];

    MinistryHelper.MinistryCode ministryDashboard = (MinistryHelper.MinistryCode)ViewData["ministryDashboard"];

    int unreadNotifications = (int)ViewData["unreadNotifications"];
    int unreadEmails = (int)ViewData["unreadEmails"];

    string flagName;
    try
    {
        flagName = CountryGenerationHelper.flagNames[country.FlagId];
    }
    catch
    {
        flagName = "none";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (country != null)
    {
        <title>@ViewData["Title"] - @country.CountryName - GovSim</title>
    }
    else
    {
        <title>@ViewData["Title"] - GovSim</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <style>
        :root {
            --ministry-colour: @MinistryHelper.MinistryCodeToMinistryHexColour(ministryDashboard, true);
            @if (country != null)
            {
                <text> --govsim-text-line-height: 110px; </text>
            }
            else
            {
                <text> --govsim-text-line-height: 50px; </text>
            }
        }
    </style>
    <link rel="stylesheet" href="~/css/Shared/_GameLayout.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <h5 id="govsim-text"><a href="/">GovSim</a></h5>
        @if (country != null)
        {
            <a href="/Game/CountryDashboard"><img id="country-flag" height="100" src="~/images/flags/@(flagName).png" title="Go to Country Dashboard" /></a>
            <div id="other-header-text-div">
                <h1 id="country-name-text" title="Go to Country Dashboard"><a href="/Game/CountryDashboard" class="nav-a">@country.CountryName</a></h1>
                <h3 id="page-name-text">Page: @ViewData["PageName"]</h3>
            </div>
        }
        else
        {
            <h3 id="no-country-page-name">Page: @ViewData["PageName"]</h3>
        }
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item @if (unreadNotifications != 0) { <text>unread</text> }">
                    <a class="nav-link nav-a" href="/Game/Notifications">
                        Notifications @if (unreadEmails != 0)
                        {<text>(@unreadNotifications)</text>}
                    </a>
                </li>
                <li class="nav-item @if (unreadEmails != 0) { <text>unread</text> }">
                    <a class="nav-link nav-a" href="/Game/Emails">
                        Emails @if (unreadEmails != 0)
                        {<text>(@unreadEmails)</text>}
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link">Logged in as: @user.Username</a></li>
                <li class="nav-item"><a class="nav-link nav-a" href="/Auth/LogOut">Log out</a></li>
            </ul>
        </nav>
    </header>
    <br />
    <main @if (ViewData["PageName"].ToString() != "Emails") { <text> id="emails-main" </text> }>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
