@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];
    PublicUser[] allPublicUsers = (PublicUser[])ViewData["allPublicUsers"];

    string ministryName = MinistryHelper.MinistryCodeToMinistryName(ministryCode);
    string ministryColour = MinistryHelper.MinistryCodeToMinistryHexColour(ministryCode);

    PublicUser currentPublicUser = (PublicUser)ViewData["publicUser"];

    ViewData["Title"] = "Invite new minister";
    ViewData["PageName"] = "Invite new minister";
}

<h1>
    <span>Invite a new minister to the</span>
    <span style="text-decoration: underline; text-decoration-color: @ministryColour">@ministryName</span>
</h1>
<br />
<hr />
<ul class="no-margin-ul">
    @foreach (PublicUser publicUser in allPublicUsers)
    {
        @if (publicUser.UserId == currentPublicUser.UserId) continue;
        <li style="list-style: none; display: grid; grid-template-columns: auto auto; margin-left: 50px; margin-right: 50px;">
            <h2 style="grid-column-start: 1; grid-column-end: 2;">@publicUser.Username</h2>
            @if (publicUser.IsAMinister())
            {
                Country publicUserCountry = MongoDBHelper.CountriesDatabase.GetCountry(publicUser.CountryId);
                <h4 style="color: orangered;">NOTE: This user is already a minister in the country of @publicUserCountry.CountryName</h4>
            }
            <button onclick="inviteMinister('@publicUser.UserId')" style="justify-self: end; grid-row-start: 1; grid-row-end: 3; grid-column-start: 2; grid-column-end: 3; margin-top: 20px; margin-bottom: 20px;">Invite user</button>
        </li>
        <hr />
    }
</ul>

@section Scripts {
    <script>
        function inviteMinister(userId) {
            $.post(`/Game/InviteMinister?ministry=@ministryCode.ToString("g")&invitedUserId=${userId}`, function (data, status) {
                if (data == "success") {
                    location.href = "/Game/PrimeMinisterDashboard/MinistryManagement"
                }
            })
        }
    </script>
}