@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];

    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];
    PublicUser[] allPublicUsers = (PublicUser[])ViewData["allPublicUsers"];

    string ministryName = MinistryHelper.MinistryCodeToMinistryName(ministryCode);
    string ministryColour = MinistryHelper.MinistryCodeToMinistryHexColour(ministryCode);

    PublicUser currentPublicUser = (PublicUser)ViewData["publicUser"];

    ViewData["Title"] = "Invite new minister";
    ViewData["PageName"] = "Invite new minister";
}

<h1>
    <span>Invite a new minister to the</span>
    <span style="text-decoration: underline; text-decoration-color: @ministryColour">@ministryName</span>
</h1>
<br />
<h3>Search users</h3>
<input type="text" id="search-input" />
<button onclick="searchUsers()">Go</button>
<button onclick="document.getElementById('search-input').value = ''; searchUsers()">Show all users</button>
<br />
<hr />
<ul class="no-margin-ul" id="user-ul">
    @foreach (PublicUser publicUser in allPublicUsers)
    {
        @if (publicUser.UserId == currentPublicUser.UserId) continue;
        <li style="list-style: none; display: grid; grid-template-columns: auto auto; margin-left: 50px; margin-right: 50px;">
            <h2 style="grid-column-start: 1; grid-column-end: 2;">@publicUser.Username</h2>
            @if (publicUser.IsAMinister())
            {
                Country publicUserCountry = MongoDBHelper.CountriesDatabase.GetCountry(publicUser.CountryId);
                <h4 style="color: orangered;">NOTE: This user is already a minister in the country of @publicUserCountry.CountryName</h4>
            }
            <button onclick="inviteMinister('@publicUser.UserId')" style="justify-self: end; grid-row-start: 1; grid-row-end: 3; grid-column-start: 2; grid-column-end: 3; margin-top: 20px; margin-bottom: 20px;">Invite user</button>
        </li>
        <hr />
    }
</ul>

@section Scripts {
    <script>
        function inviteMinister(userId) {
            $.post(`/Game/InviteMinister?ministry=@ministryCode.ToString("g")&invitedUserId=${userId}`, function (data, status) {
                if (data == "success") {
                    location.href = "/Game/PrimeMinisterDashboard/MinistryManagement"
                }
                else {
                    alert(data)
                }
            })
        }

        function searchUsers() {
            var searchText = $("#search-input").val()

            var lis = $("#user-ul")[0].getElementsByTagName("li")
            var hrs = $("#user-ul")[0].getElementsByTagName("hr")

            for (var i = 0; i < lis.length; i++) {
                var name = lis[i].getElementsByTagName("h2")[0].innerHTML

                if (name.toLowerCase().includes(searchText.toLowerCase())) {
                    lis[i].style.display = "grid"
                    hrs[i].style.display = ""
                }
                else {
                    lis[i].style.display = "none"
                    hrs[i].style.display = "none"
                }
            }
        }

        document.getElementById("search-input").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault()
                searchUsers()
            }
        })
    </script>
}