@{
    Layout = "_GameLayout";

    Country country = (Country)ViewData["country"];
    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];

    ViewData["Title"] = "View ministry";
    ViewData["PageName"] = "View ministry";
}

@using (DatabaseContext database = new DatabaseContext())
{
    <img src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(ministryCode)" height="200" />
    <br />
    <br />
    @if (database.Users.Any(u => u.CountryName == country.CountryName && u.Ministry == ministryCode))
    {
        <h2 id="minister">Minister: @database.Users.Single(u => u.CountryName == country.CountryName && u.Ministry == ministryCode).Username</h2>
        <button id="minister-button" onclick="dismissMinister('@ministryCode.ToString("g")')">Dismiss minister</button>
    }
    else
    {
        if (database.InvitedMinisters.Any(im => im.CountryName == country.CountryName && im.Ministry == ministryCode))
        {
            <h2 id="minister">Invitation sent to: @database.InvitedMinisters.Single(im => im.CountryName == country.CountryName && im.Ministry == ministryCode).Username</h2>
            <button id="minister-button" onclick="cancelMinistryInvite('@ministryCode.ToString("g")')">Cancel invite</button>
        }
        else
        {
            <h2 id="minister">No minister</h2>
            <button id="minister-button" onclick="location.href = '/Game/PrimeMinisterDashboard/InviteNewMinister?minister=@(ministryCode.ToString("g"))'">Invite new minister</button>
        }
    }

    @section Styles
    {
        <link rel="stylesheet" href="~/css/Game/PrimeMinisterDashboard/ViewMinistry.css" />
    }

    @section Scripts {
        <script>
            var ministryCode = "@ministryCode.ToString("g")";
        </script>
        <script src="~/js/Game/PrimeMinisterDashboard/ViewMinistry.js"></script>
    }
}