@{
    Layout = "_GameLayout";

    if ((bool)ViewData["noCountry"])
    {
        Layout = "_GameLayout";
    }

    Country oldCountry = (Country)ViewData["country"];
    Country newCountry = (Country)ViewData["newCountry"];
    User oldPrimeMinister = (User)ViewData["oldPrimeMinister"];
    User newPrimeMinister = (User)ViewData["newPrimeMinister"];
    MinistryHelper.MinistryCode ministryCode = (MinistryHelper.MinistryCode)ViewData["ministryCode"];

    bool isPrimeMinister = (bool)ViewData["isPrimeMinister"];
    bool noMinistersToReplace;
    if (isPrimeMinister)
    {
        noMinistersToReplace = (bool)ViewData["noMinistersToReplace"];
    }
    else
    {
        noMinistersToReplace = true;
    }

    ViewData["Title"] = "Invitiation to ministry";
    ViewData["PageName"] = "Invitiation to ministry";
}

@using (DatabaseContext database = new DatabaseContext())
{
    <div id="grid">
        @if (oldCountry != null)
        {
            <div id="old-country-div">
                <img class="country-image" height="200" src="~/images/flags/@(CountryGenerationHelper.flagNames[oldCountry.FlagId]).png" />
                <br />
                <br />
                <h2>@oldCountry.CountryName</h2>
                <h3>Prime Minister: @oldPrimeMinister.Username</h3>
            </div>
        }
        else
        {
            <div id="old-country-div">
                <img class="country-image" height="200" src="~/images/flags/default.png" />
                <br />
                <br />
                <h2>No country</h2>
            </div>
        }
        <img id="arrow-right-image" width="150" src="~/images/arrow right.svg" />
        <div id="new-country-div">
            <img class="country-image" height="200" src="~/images/flags/@(CountryGenerationHelper.flagNames[newCountry.FlagId]).png" />
            <br />
            <br />
            <h2>@newCountry.CountryName</h2>
            <h3>Prime Minister: @newPrimeMinister.Username</h3>
        </div>
        <div id="buttons-div">
            <button onclick="accept(null)">Accept</button>
            <button onclick="decline()">Decline</button>
            <br />
            <br />
            <button onclick="location.href = '/Game/Notifications'">Decide later</button>
        </div>
        @if (isPrimeMinister)
        {
            <div id="pm-ministry-choice-div">
                <h2>Choose a minister to replace you as Prime Minister:</h2>
                <ul id="pm-ministry-choice-ul" class="no-margin-ul">
                    @foreach (MinistryHelper.MinistryCode ministryCodeLoop in Enum.GetValues(typeof(MinistryHelper.MinistryCode)))
                    {
                        @if (ministryCodeLoop == MinistryHelper.MinistryCode.PrimeMinister || ministryCodeLoop == MinistryHelper.MinistryCode.None) continue;
                        @if (!database.Users.Any(u => u.CountryName == oldCountry.CountryName && u.Ministry == ministryCodeLoop)) continue;
                        <li class="ministry-li">
                            <img class="ministry-image" onclick="accept('@ministryCodeLoop.ToString("g")')" width="300" src="~/images/ministries/@MinistryHelper.MinistryCodeToMinistryImageFileName(ministryCodeLoop)" />
                        </li>
                    }
                </ul>
            </div>
        }
        <br />
        <h4 id="please-wait-h4">Please wait...</h4>
    </div>

    @section Styles
    {
        <link rel="stylesheet" href="~/css/Game/Invite/Minister.css" />
    }

    @section Scripts {
        <script>
            var isPrimeMinister = @isPrimeMinister.ToString().ToLower();
            var noMinistersToReplace = @noMinistersToReplace.ToString().ToLower();
            var ministryCode = "@ministryCode";
            var newCountryName = "@newCountry.CountryName";
        </script>
        <script src="~/js/Game/Invite/Minister.js"></script>
    }
}