@{
    Layout = "_GameLayout";

    if ((bool)ViewData["noCountry"])
    {
        Layout = "_GameLayout";
    }

    Notification[] notifications = (Notification[])ViewData["notifications"];

    ViewData["Title"] = "Notifications";
    ViewData["PageName"] = "Notifications";

    string readNotOpenedColour = "lightgrey";
    string unreadNotOpenedColour = "white";
}

<h1>Notifications</h1>
<br />
<hr />
<ul class="no-margin-ul">
    @foreach (Notification notification in notifications)
    {
        <li id="notification-li-@notification.NotificationId" class="notification-li" style="background-color: @if (notification.MarkedAsRead) { @readNotOpenedColour } else { @unreadNotOpenedColour };">
            <div class="notif-body-div" @if (notification.Link != null) { <text> onclick="markNotificationAsRead('@notification.NotificationId'); location.href = '@Html.Raw(notification.Link)'" </text> }>
                <h2>@notification.Title</h2>
                <p>@notification.Content</p>
            </div>
            <button class="mark-as-read-button" onclick="markNotificationAsRead('@notification.NotificationId');">Mark as read</button>
        </li>
        <hr />
    }
</ul>

<style>
    .notification-li {
        list-style: none;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        display: grid;
        grid-template-columns: auto 120px;
    }

        .notification-li:hover {
            cursor: pointer;
        }

    .notif-body-div {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .received-on-text {
        font-size: small;
    }

    .mark-as-read-button {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 75px;
        width: 100px;
        margin: auto;
    }
</style>

@section Scripts {
    <script>
        var readNotOpenedColour = "@readNotOpenedColour";
        var unreadNotOpenedColour = "@unreadNotOpenedColour";
    </script>
    <script src="~/js/Game/Notifications.js"></script>
}